<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title-head">PETER BARNES</h1>
        <blockquote>Digital Media 2 portfolio</blockquote>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron">
      <h1 class="text-center head">Hi.&nbsp; My name is <span class="blue">PETER BARNES</span> and this is my <span class="blue">DIGITAL MEDIA 2</span> portfolio.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <blockquote>
        Digital Media 2 is a class offered at Southeast High School that empowers students to create video projects that range from silent films to stop motion videos.  It is taken for one semester and is part of the LSE Technology Department.
      </blockquote>
    </div>
    <div class="col-md-8 well">
      <blockquote>In this past semester I have made a mutlitude of projects including...</blockquote>
      <ul class="text-right">
        <li><a href="#">First AE Comp</a></li>
        <li><a href="#">Production Logo</a></li>
        <li><a href="#">Silent Film</a></li>
        <li><a href="#">Personal Video Project</a></li>
        <li><a href="#">Stop Motion</a></li>
        <li><a href="#">Mini Documentary</a></li>
        <li><a href="#">Choice project</a></li>
      </ul>
    </div>
  </div>
</div>