<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Peter Barnes</h1>
        <blockquote>Digital Media 2 portfolio</blockquote>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Hi. my name is</h1>
      <h1 class="blue">Peter Barnes</h1>
      <h2>This is my</h2>
      <h3 class="blue">Digital Media 2</h3>
      <h3>Portfolio</h3>
    </div>
  </div>
</div>