<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content = "yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Peter Barnes">
  <meta name="author" content="Peter Barnes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <title>Peter Barnes | DM2 Portfolio</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top no-bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-video-camera"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/videos#aecomp">First AE Comp</a></li>
            <li><a href="/videos#prodlogo">Production Logo</a></li>
            <li><a href="/videos#silentfilm">Silent Film</a></li>
            <li><a href="/videos#vidproject">Personal Video Project</a></li>
            <li><a href="/videos#stopmotion">Stop Motion</a></li>
            <li><a href="/videos#minidoc">Mini Documentary</a></li>
            <li><a href="/videos#choice">Choice Project</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <%= yield %>
<script>
$(document).ready(function() {
  $("a.dropdown-toggle").click(function() {
    $(this).next("ul.dropdown-menu").slideToggle(200);
  });
});
</script>
</body>
</html>