<div class="container navlinks">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <ul>
          <li>&nbsp;</li>
          <li><a href="#aecomp">First AE Comp</a></li>
          <li><a href="#prodlogo">Production Logo</a></li>
          <li><a href="#silentfilm">Silent Film</a></li>
          <li><a href="#vidproject">Personal Video Project</a></li>
          <li><a href="#stopmotion">Stop Motion</a></li>
          <li><a href="#minidoc">Mini Documentary</a></li>
          <li><a href="#choice">Choice Project</a></li>
          <hr>
          <li><a href="#">Back to top</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="aecomp">FIRST AFTER-EFFECTS COMPOSITION</h1>
        <h4>This is the first composition that I made in After Effects</h4>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 well">
      <h5>First After Effects Comp</h5>
    </div>
  </div>
</div>
<div class="container-fluid header green">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="prodlogo">PRODUCTION LOGO</h1>
        <h4>This is the intro that I made in After Effects that introduces all of the following videos</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <blockquote>In Digital Media 2 we were tasked with making a production logo that would appear at the beginning of the rest of the projects that we created.  For this I used After Effects.</blockquote>
    </div>
    <div class="col-md-6 well" style="width: 605px;">
      <iframe src="//www.youtube.com/embed/d_MlnxrhB7U" class="center-block" frameborder="0" width="560" height="315" allowfullscreen ></iframe>
    </div>
  </div>
</div>
<div class="container-fluid header darkgray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="silentfilm">SILENT FILM</h1>
        <h4>This was my first actual project in DM2.  This is a silent film about cooking troubles</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 well">
      <h5>Silent Film</h5>
    </div>
  </div>
</div>
<div class="container-fluid header dicpurple">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="vidproject">PERSONAL VIDEO PROJECT</h1>
        <h4>This was a video that I made about my band, Down In Circles</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <blockquote>In Digital Media 2 we were told to make a video about a topic of our choice.  I decided to do a little documentary about my band, Down In Circles, covering topics such as recording, playing, and being in a band.</blockquote>
    </div>
    <div class="col-md-6 well" style="width: 605px;">
      <iframe src="//www.youtube.com/embed/Z3trHg_DHM" frameborder="0" width="560" height="315" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="container-fluid header red">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="stopmotion">STOP MOTION</h1>
        <h4>This is a stop motion video talking about the Ruby on Rails web development framework</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 well">
      <h5>Personal Video Project</h5>
    </div>
  </div>
</div>
<div class="container-fluid header tokengold">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="minidoc">MINI DOCUMENTARY</h1>
        <h4>This is an in depth documentary about being a software developer.</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 well">
      <h5>Mini documentary</h5>
    </div>
  </div>
</div>
<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <h1 class="title-head" id="choice">CHOICE PROJECT</h1>
        <h4>This is a video documenting an LSE soccer game for the KnightVision media group</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 well">
      <h5>Choice project</h5>
    </div>
  </div>
</div>
